.top-frame {
  height: 100%;
}

.welcome-message {
  font-size: 1.5rem;
}

.logo-frame {
  max-width: 500px;
  img {
    width: 100%;
  }
}

.top-menu{
  .content{
    width: 100%;
    height: 100%;
    padding: 16px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    .text { padding: 16px; }
    .icon{
      $size: 32px;
      font-size: $size;
      line-height: $size;
    }
  }
}
