<div class="parent">
  <mat-card class="word-card">
    <mat-card-header>
      <mat-card-title class="word">{{chain.previous.Lemma}}</mat-card-title>
      <mat-card-subtitle>YOU</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{chain.previous.Commentary}}
      </p>
    </mat-card-content>
  </mat-card>

  <div class="allow-outer">
    <mat-icon>arrow_forward</mat-icon>
  </div>

  <mat-card class="word-card">
    <mat-card-header>
      <mat-card-title class="word">{{chain.now.Lemma}}</mat-card-title>
      <mat-card-subtitle>CPU</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{chain.now.Commentary}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
