/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// h1{
//   padding: 1rem 1rem;
//   border-top: 3px solid #000;
//   border-bottom: 3px solid #000;
// }
// h2 {
//   padding: 0.5rem 1.5rem;
//   border-left: 2px solid #000;
// }
// h3 {
//   border-bottom: 3px solid #000;
// }
// p {
//   font-size: 0.9rem;
// }
